.Hero-section {
  display: flex;
  border: 1px solid rgb(107 114 128);
}

.Hero-Left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.inner_left_div {
  color: #414141;
}

.nested_left_div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nested_line_1 {
  width: 2rem;
  height: 2px;
  background-color: #414141;
}

.nested_lead_1 {
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.nested_heading {
  font-size: 1.875rem; /* 30px */
  line-height: 1.25rem; /* 36px */
}

.nested_paragraph {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nested_paragraph_1 {
  font-weight: 600;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

#HeroImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
